body {
  background-color: #f5ebd1 !important;
  min-height: 100vh;
  font-size: 20px;
  font-weight: 400;

}
p {
  font-family: "Times New Roman", Times, serif;
}
h2 {
  font-family: "Times New Roman", Times, serif;
}
.contenedor {
  background-color: #f5ebd1;
  max-width: 1200px;
  border-radius: 10px;
  height: 50%;
}
.container{
  background-color: #f5ebd1;
  margin: 0px;
}
.izquierda {
  left: 0;
  background-color: #f5ebd1;
}
.derecha {
  right: 0;
  background-color: #f5ebd1;
  overflow:show;
}
.split {
  width: 50%;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
  vertical-align: top;
  display: inline-block;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 80px;
  background-color: #f5ebd1;
}


.contenedor-texto .titulo {
  font-size: 50px;
  font-weight: normal;
  margin-bottom: 40px;
}

.contenedor-texto .mascota {
  font-weight: bold;
  color: #c99806;
  font-style: normal;
}

.btn-link:hover,
.btn-link.activo {
  color: #f5ebd1;
  background: #5b4a9a;
}
div{
  background-color: #f5ebd1;
}

.your-div {
  position: fixed;
  bottom: 0;
  right: 0;
  font-family: "Times New Roman", Times, serif;
  text-align: right;
  margin: 30px;
}

.titulo{
  margin: 30px;
  margin-top: 0px;
}
h2{
  margin-left: 20px;
}

.wrapper { 
  border : 2px solid #000; 
  overflow:hidden;
}

.wrapper {
   min-height: 200px;
   padding: 10px;
}
@media screen and (max-width: 768px) {
  .split{
     display: block;
  }

  .izquierda {
    width: 100%;
    display:block;
    float:none;
  }

  .derecha {
     width: 100%;
     display:block;
    width:100%;
    float:none;
  }
}
body {
  margin: 0;
  margin-bottom: 40px;
}
footer {
  position: absolute;
  bottom: 4px;
  width: 100%;
  height: 40px;
}